body{
    font-family: "Plus Jakarta Sans" ,sans-serif !important;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.container{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
/* Main content grows to fill space */
.content {
    flex-grow: 1;
}
.navbar{
    height: 5rem;
    background-color:white;
}
.fa-house{
    color: #fe424d;
    font-size: 2rem;

}
 /* to override the things of bootstrap we use important */
.nav-link{
 color:#222222 !important;  
}
footer {
    background-color:rgb(242, 239, 239);
    padding: 1rem 0;
}

.f-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    height: auto;
}

.f-info-social {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    font-size: 1.2rem;
    width: 100%;
}

.f-info-social i:hover {
    color: #0077b5;
    /* LinkedIn blue or any accent color */
    cursor: pointer;
}

.f-info-brand {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #444;
    font-weight: 500;
}

.f-info-links {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 1.5rem;
}

.f-info-links a {
    text-decoration: none;
    color: #222;
}

.f-info-links a:hover {
    text-decoration: underline;
}
/* cards */
.listing-card{
    border: none !important;
    margin-bottom: 2rem;
}
.index .card-img-top{
    border-radius: 1rem !important;
    width: 100% !important;
    object-fit: cover !important;
}
.card body{
    padding: 0 !important;
}
.card-text p{
    font-weight: 400;
}
.listing-link{
    text-decoration: none;
}
/* card effect */
.card-img-overlay{
    opacity: 0;
}
.card-img-overlay:hover{
    opacity: 0.2;
    background-color:whitesmoke;
}
.add-btn{
    background-color: #fe424d !important;
    border: none !important;
}
.edit .add-btn{
    background-color: #fe424d !important;
    border: none !important;
}

/* show card */
.show-img{
    height: 30vh;
}

.btn-edit{
    background-color: #fe424d !important;
    color: white !important;
}
#map{
    height: 100px;
    width: 100px;
}



