<% layout("/layouts/boilerplate") %>
<h1>Privacy Policy</h1>
<p>Last updated: January 2026</p>

<p>
Welcome to WanderLust (wandera-bncl.onrender.com).
Your privacy is important to us. This Privacy Policy explains how we collect,
use, and protect your information when you visit our website.
</p>

<h3>Information We Collect</h3>
<p>
We may collect non-personal information such as browser type, device information,
pages visited, and time spent on the site. If you contact us directly,
we may receive additional information such as your email address.
</p>

<h3>Cookies and Web Beacons</h3>
<p>
WanderLust uses cookies to store information about visitors’ preferences and to
optimize the experience by customizing our web page content.
</p>

<h3>Google AdSense</h3>
<p>
Some of the ads on this site are served by Google.
Google uses cookies (including the DoubleClick cookie) to show ads to users
based on their visits to this and other websites.
</p>

<p>
Users may opt out of personalized advertising by visiting Google’s Ads Settings.
</p>

<h3>Consent</h3>
<p>
By using our website, you hereby consent to our Privacy Policy and agree to its terms.
</p>
