<% layout("/layouts/boilerplate") %>
<h1>Terms and Conditions</h1>

<p>
By accessing this website, you agree to be bound by these Terms and Conditions.
If you do not agree, please do not use our website.
</p>

<h3>Use of the Website</h3>
<p>
The content on this website is for general information purposes only.
We do not guarantee the accuracy or completeness of any information.
</p>

<h3>User Responsibility</h3>
<p>
Users are responsible for how they use the information provided on this site.
WanderLust is not liable for any losses or damages arising from the use of our website.
</p>

<h3>External Links</h3>
<p>
Our website may contain links to external websites.
We have no control over the content or policies of those sites.
</p>

<h3>Modifications</h3>
<p>
We may update these terms at any time without prior notice.
</p>
